<div id="defalt" class="page-width custom-login">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">

        <h1 id="LoginHeading" class="text-center">{{ 'customer.login.title' | t }}</h1>

        <!--<div class="syotai">
          当サイトは完全招待制のサイトとなっております。<br>
          ※ご紹介を受けた方に登録の申請をお送りしておりますので、<br>
          当サイトからは会員登録はできません。<br>
        </div>-->

        {% form 'customer_login', novalidate: 'novalidate' %}
        <input id="custom_checkout_url" type="hidden" name="checkout_url" value="" />

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
            >

          {% if form.password_needed %}
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              {%- if form.errors contains 'form' -%}
                class="input--error"
                aria-invalid="true"
              {%- endif -%}
            >
          {% endif %}

          <div class="text-center">
            {% if form.password_needed %}
              <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
            {% endif %}

            <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
            {% comment %}
            <p>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </p>
            {% endcomment %}
          </div>

        {% endform %}
      </div>

      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center">
          <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div class="text-center">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>

              <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}
    </div>

  </div>

</div>
  <a href="https://gastronomyjapan.com/pages/member_registration"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/regi_bnr2_pc_5b75b946-3dfb-44e3-b81c-e4d9bcf784dd.jpg?v=1625203855" class="pc_img" style="margin-top:50px;"></a>
			<a href="https://gastronomyjapan.com/pages/member_registration"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/regi_bnr2_sp_53e393dc-af6a-4eb5-a70c-eb698b5da447.jpg?v=1625203855" class="sp_img" style="margin-top:50px;"></a>
			
			<a href="https://gastronomyjapan.com/pages/%E3%81%94%E6%B3%A8%E6%96%87%E3%82%AC%E3%82%A4%E3%83%89"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_noshi_bnr2_pc_e58014c1-fa40-43d8-a140-faabb0912bca.jpg?v=1625203855" class="pc_img" style="margin-top: 50px;"></a>
			<a href="https://gastronomyjapan.com/pages/%E3%81%94%E6%B3%A8%E6%96%87%E3%82%AC%E3%82%A4%E3%83%89"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_noshi_bnr2_sp_ac3b33fa-5090-4fcd-8350-92113cec3456.jpg?v=1625203855" class="sp_img" style="margin-top: 15px;"></a>
			
<a href="https://gastronomyjapan.com/pages/%E3%82%AE%E3%83%95%E3%83%88%E3%81%AE%E3%81%94%E6%A1%88%E5%86%85"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_bnr2_pc_140c6a4e-0d27-4521-8e4d-32215d0148f7.jpg?v=1625142769" width="100%" class="pc_img" style="margin-top: 50px;"></a>
          <a href="https://gastronomyjapan.com/pages/%E3%82%AE%E3%83%95%E3%83%88%E3%81%AE%E3%81%94%E6%A1%88%E5%86%85"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_bnr2_sp_b901edfe-2e6b-49e7-a979-89cd50457dd4.jpg?v=1625189762" width="100%" class="sp_img" style="margin-top: 15px;"></a>
			
			
<style type="text/css">
  .syotai {font-size: 18px;margin:20px 0;text-align: center;}
  .page-width {padding-top: 50px;}
  .sp_img {display: none;}
  .pc_img {width: 100vw;}
@media screen and (max-width:750px) {
  .syotai {font-size: 14px;}
  
  .sp_img {display: inline-block;}
  .pc_img {display: none;}
}
</style>