<div class="page-width page-published">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>
          掲載のお問い合わせ
        </h1>
      </div>
      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

          <div class="grid grid--half-gutters">
            <div class="grid__item">
              <label for="{{ formId }}-requests">ご用件 <span aria-hidden="true">必須</span></label>
              <input required class=”required” type="text" id="{{ formId }}-requests" name="contact[ご用件]" value="">
            </div>
            <div class="grid__item">
              <label for="{{ formId }}-name">氏名 <span aria-hidden="true">必須</span></label>
              <input required class=”required” type="text" id="{{ formId }}-name" name="contact[氏名]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item">
              <label for="{{ formId }}-email">メールアドレス <span aria-hidden="true">必須</span></label>
              <input
                required
                class=”required”
                type="email"
                id="{{ formId }}-email"
                name="contact[メールアドレス]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
          </div>
          <label for="{{ formId }}-phone">電話番号</label>
          <input type="tel" id="{{ formId }}-phone" name="contact[電話番号]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          <label for="{{ formId }}-message">本文 <span aria-hidden="true">必須</span></label>
          <textarea required class=”required” rows="10" id="{{ formId }}-message" name="contact[本文]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          <input type="submit" class="btn" value="送信">

        {% endform %}
      </div>
    </div>
  </div>
</div>
